
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap');
/* APP */
:root{
    --text-1: #333;
    --text-2: #666;
    --text-3: #999;
    --line: #CCC;
    --time-bg: #EEE;
    --background: #F7F7F7;
}
#app-chat{
font-family: Avenir, Helvetica, Arial, sans-serif !important;
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
/* text-align: center !important; */
color: #2c3e50 !important;
}
button{
    font-family: Avenir, Helvetica, Arial, sans-serif !important;
    font-weight: 500;
}

#app-chat #nav {
padding: 30px !important;
}

#app-chat #nav a {
font-weight: bold !important;
color: #2c3e50 !important;
}

#app-chat #nav a.router-link-exact-active {
color: #42b983 !important;
}
/* END APP */

/* AUTH */
#app-chat .card{
    position: relative !important; 
    padding: 26px 24px 24px !important; 
    border-radius: 5px !important; 
    text-align: left !important; 
    color: rgb(0, 0, 0) !important; 
    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 0 0 rgb(255 255 255 / 50%) !important;
    font-size: 16px;
    background: #fff;
}

#app-chat .form-label{
    margin-bottom: .2em !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

#app-chat .form-group{
    position: relative !important;
    padding:.375em .75em !important;
}
#app-chat .form-group input{
    width: 100% !important;
    height: 40px !important;
    padding: 11px 40px 11px 16px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 3px 0px inset !important;
    border: 1px solid rgb(225, 225, 225) !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 4px !important;
    background: rgb(250, 250, 250) !important;
    appearance: none !important;
    margin:.375em 0 !important;

 }
 #app-chat .form-control::-webkit-input-placeholder, #app-chat input::-webkit-input-placeholder{
     color:#999;
     
 }

/* END auth */
/* CHAT */
#app-chat .chat-window{
    position: fixed !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    width: 20em !important;
    /* width: 350px !important; */
    height: 33em !important;
    z-index: 1950 !important;
    right: 1.5em !important;
    box-sizing: border-box !important;
    border-radius: 1em !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    background: #FFF !important;
    bottom: 50px !important;
    line-height: 1.3 !important;
}
#app-chat .middle{
    position: absolute !important;
    width: 100% !important;
    top:10em !important;
    height: 58% !important;
    background: var(--background) !important;
}

#app-chat .chat-window .messages{
    /* padding: 1em !important; */
    padding: 0.25em 0.25em !important;
    flex-shrink: 2 !important;
    overflow-y: auto !important;   
    box-shadow: inset 0 2em 2em -2em rgb(0 0 0 / 5%), inset 0 -2em 2em -2em rgb(0 0 0 / 5%) !important;
}
#app-chat .chat-window .messages .message{
    box-sizing: border-box !important;
    padding: 0.5em 1em !important;
    margin: 0.1em 1em !important;
    background: #FFF !important;
    border-radius: 1.125em 1.125em 1.125em 0 !important;
    min-height: 2.25em !important;
    width: fit-content !important;
    max-width: 66% !important; 
    word-break: break-word;      
    box-shadow: 0 0 2em rgb(0 0 0 / 8%), 0em 1em 1em -1em rgb(0 0 0 / 10%) !important;
}
#app-chat .chat-window .messages .message.receiver{
    margin: 1em 1em 1em auto  !important;
    border-radius: 1.125em 1.125em 0 1.125em !important;
    background: var(--text-1) !important;
    color: white !important;
}
#app-chat .chat-header{
    position: relative !important;
    margin-bottom: 1em !important;
    display: flex !important;
    flex-direction: column !important;
}
#app-chat .chat-window .input-bar svg {
    font-size: 1.5em !important;
    margin-right: 1em !important;
    color: #666 !important;
    cursor: pointer !important;
    transition: color 200ms !important;
}
#app-chat .chat-window .chat-header.bar{
    flex-basis: 2.5em !important;
    flex-shrink: 0 !important;
    margin: 1em !important;
    box-sizing: border-box !important;
}
#app-chat .chat-header .bot-name{
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #515151 !important;
    text-align: left !important;
    
}
#app-chat .chat-header .message, #app-chat .chat-header .support-available{
    font-size: 0.9em !important;
    color: #999 !important;
    text-align: left !important;
}
#app-chat .input-bar{
    box-sizing: border-box !important;
    flex-basis: 4em !important;
    flex-shrink: 0 !important;
    display: flex !important;
    align-items: center !important;
    padding: 0 0.5em 0 1.5em !important;
}
#app-chat .input-bar input{
    border:none !important;
    background-image:none !important;
    background-color: #FFF !important;
    padding: 0.5em 1em !important;
    margin-right: 1em !important;
    border-radius: 1.125em !important;
    flex-grow: 2 !important;
    box-shadow: 0 0 1em rgb(0 0 0 / 10%), 0em 1em 1em -1em rgb(0 0 0 / 20%) !important;
    font-family: Red hat Display, sans-serif !important;
    font-weight: 400 !important;
    letter-spacing: 0.025em !important;
    color: #515151 !important;;
}
#app-chat .send-button, #app-chat .close-button{
    background: none !important;
    border: none !important;
    padding: initial;
}
#app-chat .send-button{
    color: #000;
    font-weight: initial;
    font-size: initial;
    text-transform: capitalize;
}
#app-chat .close-button{
    float: right!important;
    margin:-2.5em .5em!important;
    color: #000;
}

#app-chat .chat-support-btn {
    background-color: #0288F9 !important;
    width: 2em !important;
    height: 2em !important;
    padding: initial;
    border-radius: 100% !important;
    background: #0288F9 !important;
    border: none !important;
    outline: none !important;
    color: #FFF !important;
    font-size: 36px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    transition: .3s !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    position: fixed !important;
    z-index: 1000 !important;
    right: 1em !important;
    bottom: 1.3em !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-chat .chat-support-btn:focus {
    transform: scale(1.1);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* END CHAT */

#app-chat svg, #app-chat img, #app-chat embed, #app-chat object{
    max-width: initial;
}

#app-chat .notification-container {
    position: absolute;
    top: 6em;
    left: 0;
    right: 0;
    z-index: 2147483649;
    width: 100%;
  }


#app-chat .notification-wrapper{
    display: flex;
    /* background-color: #fff; */
    min-width: 15em;
    min-height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.42);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    }

    #app-chat .animated-notification{
    animation: moveOpen 0.5s;
    -webkit-animation: moveOpen 0.5s;
}
#app-chat .text-area{
    flex-grow: 1;
    padding: 1rem 1.5rem;
    position: relative;
}
#app-chat .notification-title{
    font-weight: bold;
    /* color: #ffff; */
    font-size: 18px;
}
#app-chat .notification-message{
    /* color: #ffff; */
    font-size: 14px;
}
#app-chat .notification-list{
    padding-inline-start: 20px;
    /* color: #ffff; */
    list-style-type: none;
    margin: 1px;
  padding: 0px;
}
#app-chat .notification-wrapper.success {
  background-color: #a8f0c6;
  border-left: 5px solid #178344;

}
#app-chat .notification-wrapper.error {
    background-color: #f7a7a3;
    border-left: 5px solid #8f130c
}
#app-chat .notification-wrapper.warning {
    background-color: #ffc107;
}
#app-chat button.close{
    position: absolute;
    opacity: 0.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    right: 15px;
    top: 5px;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer
    /* right: 0.5rem;
    top: 0.5rem; */
}

#app-chat .button{
    background: #fff;
   border: 3px solid #f5f5f5;
   color: #454545;
   -webkit-box-align: center;
   align-items: center;
   border-radius: 0.5em;
   cursor: pointer;
   display: flex;
   
   height:.5em;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin-top: 5px;
   padding: 1em 0.8em;
   text-decoration: none;
   font-weight: 600;
}

#app-chat .icon{
    padding: 0 .5em;
}
#app-chat .modal-overlay{
    position: absolute;
    z-index: 100;
    background: rgba(0, 0,0, 0.4);
}
#app-chat .modal{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);       
    border-radius: 0.3rem;
    outline: 0;
    z-index: 10;

}
#app-chat .modal-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
#app-chat .close{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

#app-chat .incomming-msg-notification{
    background-color: red;
    border-radius: 100%;
    width: 1.7em !important;
    height: 1.7em !important;
    font-size: 12px;
    padding: initial;
    position: absolute;
    top: 4.5em;
    right: 1em;
    outline: none !important;
     color: #FFF !important;
     display: flex;
    align-items: center;
    justify-content: center;
}

/*
    Bot options
*/
#app-chat .chat-option{
    display: inline-block;
    border: 1px solid rgba(14, 114, 237, 0.45);
    line-height: 20px;
    border-radius: 8px;
    padding: 7px 13px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #FFF;
    color: rgb(14, 114, 237);
    cursor: pointer;
    transition: background-color 50ms ease-in-out 0s, border-color 100ms ease-in-out 0s;
    white-space: normal;
    text-align: left;
    
}
#app-chat .option-wrapper{
    margin: 8px 8px 0 8px;
    padding: 0em 0.5em;
}

/*Select 2 Container*/
#app-chat .select2{
    margin: 0 1em  !important;
}
#app-chat .select2-container{
    width: 15em !important;
    box-sizing: border-box !important;
    display: inline-block !important;
    margin: 0 1em !important;
    position: relative !important;
    vertical-align: middle !important;
    
}

#app-chat .select2-container--default .select2-selection--single {
    background-color: #fff  !important;
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
}

#app-chat .select2-container .select2-selection--single {
    box-sizing: border-box !important;
    cursor: pointer !important;
    display: block !important;
    height: 28px  !important;
    user-select: none !important;
    -webkit-user-select: none !important;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container .select2-selection--single .select2-selection__clear {
    position: relative;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container .select2-search--inline {
    float: left;
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
.select2-results {
    display: block;
}
.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}
.select2-results__option {
    padding: 6px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.select2-results__option[aria-selected] {
    cursor: pointer;
}
.select2-container--open .select2-dropdown {
    left: 0;
}
.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-search--dropdown {
    display: block;
    padding: 4px;
}
.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
    display: none;
}
.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0);
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
#app-chat .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
}
#app-chat .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
    padding: 1px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
}
.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}
.select2-container--default .select2-results__option[role="group"] {
    padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled="true"] {
    color: #999;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #ddd;
}
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
}
.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}
.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px;
}
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}
.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0;
}
.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb;
}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right;
    margin-left: 5px;
    margin-right: auto;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0;
}
.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none;
}
.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent;
}
.select2-container--classic .select2-dropdown--above {
    border-bottom: none;
}
.select2-container--classic .select2-dropdown--below {
    border-top: none;
}
.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}
.select2-container--classic .select2-results__option[role="group"] {
    padding: 0;
}
.select2-container--classic .select2-results__option[aria-disabled="true"] {
    color: grey;
}
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff;
}
.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}
.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb;
}


@keyframes moveOpen 
{
    0% {
        transform: translateX(-500px);
    }
100% {
    transform: translateX(0);
}
}
@-webkit-keyframes moveOpen 
{
0% {
    -webkit-transform: translateX(-500px);
}
100% {
    -webkit-transform: translateX(0);
}
}


@media (min-width: 576px) {
    #app-chat .chat-window{
        width: 19em !important;
        height: 33em!important;
    }
    
}

@media (min-width: 768px){

    #app-chat .chat-window{
        width: 19em !important;
        height: 33em!important;
    }

}

@media (min-width: 992px){
    #app-chat .chat-window{
        width: 21em !important;
        height: 36em !important;
    }
}

@media (min-width: 1200px) {  }